<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/index.js"></script>
    <script src="static/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="static/jquery-jvectormap-no-mill.js"></script>
    <link rel="stylesheet" href="static/jquery-jvectormap-2.0.3.css" type="text/css"
          media="screen"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Nortek.no</h1>
    </div>

    <div class="container">
        <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>