{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

    <div id="world-map" style="width:100%; height: 500px"></div>


    <form>
        <div class="form-group">
            <select name="column" class="form-control" id="column">
                <option value="name">Name</option>
                <option value="address">Address</option>
                <option value="post_code">Post Code</option>
                <option value="post_place">Post Place</option>
                <option value="org_nr_pers_nr">Org nr/Per nr</option>
            </select>
        </div>


        <div class="form-group">
            <label for="query">Query:</label>
            <input type="text" class="form-control" id="query" name="query">
        </div>


    </form>
    <button type="button" class="btn btn-default" id="theb">Submit</button>

    <div class="org">
        <h3 class="org_name"></h3>
        <p>ORG.NR/PERS.NR: <span class="org_nr"></span></p>
        <p>Adresse: <span class="org_address"></span></p>
        <p>Post Nr: <span class="org_post_code"></span></p>
        <p>Post Sted: <span class="org_post_place"></span></p>

        <h4>Tilatelser</h4>

        <ul class="org_permissions_list"></ul>
    </div>

    <li class="permissions_li">
        <p>Formål: <span class="pre_purpose"></span></p>
        <p>Produksjonsform: <span class="pre_production_form"></span></p>
        <p>Art: <span class="pre_species"></span></p>
        <p>Vannmiljø: <span class="pre_weatherenv"></span></p>
    </li>

    <ul id="thelist">

    </ul>
    <script>
    $(function(){
        $(".org").hide();
        $(".permissions_li").hide();
      $('#world-map').vectorMap({map: 'no_mill'});

        var map_object = $('#world-map').vectorMap('get', 'mapObject');
    });
  </script>
{% endblock %}